@charset "UTF-8";

/* header */
.header{
	width: 100%;
	position: relative;
	z-index: 999;
}
.jbFixed{
	position: fixed !important;
	top: 0px !important;
}
.header .headerUtil{
	background-color: #112233;
	padding: 10px 0;
	box-sizing: border-box;
}
.headerUtLi{
	width: 100%;
	overflow: hidden;
}
.header_linkLeft{
	float: left;
	width: 50%;
}
.header_linkRight{
	float: right;
	width: 50%;
	text-align: right;
}
.headerUtLi a{
	color: rgba(255,255,255,.6);
}
.header_menuName a:hover{
	color: #fff;
}
.header .headerNav{
	position: absolute;
	top: 36px;
	left: 0;
	width: 100%;
	padding: 20px 0;
	background-color: rgba(255, 255, 255, 0.7);
	z-index: 999;
	box-sizing: border-box;
	height: 70px;
}

.headerNav .container{
	position: relative;
}
.headerNav .toggle{
	display: block;
    position: absolute;
    top: 0px;
    left: -60px;
    border: 0 none;
    background: none;
    outline: none;
    z-index: 10;
    padding: 0 20px;
}
.headerNav .toggle span {
    display: block;
    width: 20px;
    height: 3px;
    margin: 4px 0;
    background: #888;
    border-radius: 50px;
    transition: .2s;
}
.headerNavLi{
	width: 100%;
}
.headerNavLeft{
	float: left;
	width: 50%;
}
.headernavL{
	display: flex;
	align-items: center;
}
.headernavL li{
	padding: 0 20px;
}
.headernavL .header_nav-item:first-child{
	padding-left: 0;
}
.headernavL .header_nav-ite:nth-child(3){
	position: relative;
}
.headernavL .header_nav-item a{
	font-weight: 900;
	font-size: 25px;
}
.header_nav-ite{
	padding-top: 5px;
	box-sizing: border-box;
}
.header_nav-ite{
	font-weight: bold;
	padding: 7px 0;
	border-radius: 3px;
}
.headerMenu{
    box-sizing: border-box;
    background: #fff;
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    border-radius: 3px;
    display: none;
    box-shadow: 0 0 7px -1px rgb(0 0 0 / 30%);
}
.headerMenu li{
	padding: 15px 0;
	text-align: center;
}
.headerMenu li:first-child{
	border-bottom: 1px solid #ddd;
}
.header_nav-ite a{
	width: 100%;
	display: inline-block;
}
.header_nav-ite a:hover{
    color: #174c88;
    text-decoration: none;
}
.headerNavRight{
	float: right;
	width: 50%;
	text-align: right;
}
.headernavR li{
	display: inline-block;
	margin-left: 45px;
}
.headernavR li a{
	color: #164C88;
}

/* main content */
h3 {
    color: #123;
    font-size: 32px;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: -0.5px;
    margin-bottom: 20px;
}
h3 span {
    display: block;
}
h3 b {
    font-weight: 800;
}
b, strong {
    font-weight: bolder;
}
sup{
	top: -0.5em;
	position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}
sup i{
	font-weight: bold;
}
.clearBoth{
	clear: both;
}
.indexContents{
	width: 100%;
	position: relative;
}
.indexContents section{
	position: relative;
	z-index: 4;
}
.indexContainer{
	padding: 150px 0;
	background-image: url(/image/seondooimage/indexmain.png);
	background-position: center;
	background-size: cover;
}
.container{
    width: 100%;
    max-width: 1380px;
    margin: 0 auto;
}
.indexContainer h1{
	color: #123;
    font-size: 32px;
    font-family: Cafe24Ohsquare_air;
    line-height: 44px;
    margin-bottom: 25px;
}
.indexCore p{
	font-size: 16px;
    color: #123;
    margin-bottom: 60px;
}
.indexContainer .indexCore span{
	display: block;
}
.indexContainer indexCore span b{
	font-family: Cafe24Ohsquare;
}
.indexTopBtn{
	margin-bottom: 15px;
}
a.cta.alt {
    background: #fff;
    color: #123;
}
a.cta {
    display: inline-block;
    width: 260px;
    line-height: 50px;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    background: #123;
    color: #fff;
    box-shadow: 0 2px 4px rgb(0 0 0 / 30%);
    box-shadow: 0 8px 16px rgb(0 0 0 / 20%);
    border-radius: 50px;
    text-decoration: none;
}
.indexContainer a.cta {
    max-width: 190px;
}
.cat:hover{
	opacity: 0.7;
}
.indexeIntroduction{
	background: #fff;
    padding: 60px 0;
    position: relative;
    width: 100%;
}
.indexeIntroductionSubtext{
	font-size: 18px;
}
.indexeIntroductionSubtext p{
	margin-bottom: 5px;
}
.indexeIntroductionSubtext p:last-child{
	margin-bottom: 0;
}
.text-center{
	text-align: center !important;
}
.indexRow{
    width: 100%;
    margin-bottom: 25px;
}  
.indexSymbol{
	height: 64px;
    width: 64px;
    border-radius: 6px;
    display: block;
    margin: 0 auto 30px;
}
.indexSymbol{
    object-fit: cover;
    vertical-align: middle;
    border-style: none;
}
.indexeIntroduction h3.indexHead {
    font-size: 44px;
    font-weight: 400;
    font-family: Cafe24Ohsquare_air;
    letter-spacing: 0;
    word-break: keep-all;
    margin-bottom: 15px;
}
.indexeIntroduction .indexRow h3.big b {
    font-family: Cafe24Ohsquare;
}
.emoji{
	margin-top: 10px;
	height: 64px;
    display: block;
    margin: 5px auto 30px;
    object-fit: cover;
    border-style: none;
}
.indexWrap{
	background: #fff url("/image/seondooimage/bg_wrap.jpeg") no-repeat center top scroll;
    background-size: cover;
    padding: 20px 0 50px;
    width: 100%;
}
.epiBox {
    padding: 30px;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
    min-height: 400px;
    background-color: #344251;
}
.epiBox h6 {
    color: #444;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
    word-break: keep-all;
    line-height: 1.2;
}
.epiBox h6, .epiBox h4, .epiBox p {
    color: #fff;
}
.epiBox h4 {
    color: #123;
    font-size: 32px;
    font-family: Cafe24Ohsquare_air;
    line-height: 40px;
}
.epiBox h4 span {
    display: block;
    color: #fff;
}
.tBox {
    position: absolute;
    bottom: 30px;
    left: 30px;
}
.epiBox p{
	opacity: .8;
    word-break: keep-all;
    color: #666;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    word-break: keep-all;
    color: #fff;
}
.epiBox p span {
    display: block;
}
.indexVr{
	margin-top: 15px;
}
.mockup {
    width: 200px;
    position: absolute;
}
.mc1 {
    width: 240px;
    top: 30px;
    right: 150px;
    z-index: 2;
}
.mc2 {
    width: 240px;
    top: 140px;
    right: 15px;
    z-index: 3;
}
.mc3 {
    width: 240px;
    top: 230px;
    right: 270px;
    z-index: 1;
}
.indexRowzip{
	width: 100%;
}
.indexRo_left {
	float: left;
	width: 50%;
	box-sizing: border-box;
}
.indexRo_left .indexRowzipBox{
	padding-right: 12.5px;
}
.indexRo_Top{
	background: #fff;
    padding: 30px;
    box-shadow: 0 4px 8px rgb(0 0 0 / 10%), 0 6px 16px rgb(0 0 0 / 10%);
    border-radius: 6px;
    position: relative;
    overflow: hidden;
    margin-bottom: 25px;
    min-height: 400px;
}
.indexRo_Top h6 {
    color: #444;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}
.indexRo_Top h4 {
    color: #123;
    font-size: 32px;
    font-family: Cafe24Ohsquare_air;
    line-height: 40px;
    word-break: keep-all;
}
.indexRo_Top h4 span {
    display: block;
}
.topBox{
	margin-bottom: 20px;
	box-sizing: border-box;
}
.indexRo_Top p {
    color: #666;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    word-break: keep-all;
    margin-top: 0;
    margin-bottom: 1rem;
}
.indexRo_Top p span {
    display: block;
}
.indexRo_Top p b {
    color: #123;
}
.mc4 {
	width: 240px;
	top: 175px;
	right: -20px;
}
.indexRo_tom{
	background: #fff;
    padding: 30px;
    box-shadow: 0 4px 8px rgb(0 0 0 / 10%), 0 6px 16px rgb(0 0 0 / 10%);
    border-radius: 6px;
    position: relative;
    overflow: hidden;
    min-height: 400px;
}
.indexRo_tom h6 {
    color: #444;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}
.indexRo_tom h4 {
    color: #123;
    font-size: 32px;
    font-family: Cafe24Ohsquare_air;
    line-height: 40px;
    word-break: keep-all;
}
.indexRo_tom h4 span {
    display: block;
}
.indexRo_tom p {
    color: #666;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    word-break: keep-all;
    margin-top: 0;
    margin-bottom: 1rem;
}
.indexRo_tom p span {
    display: block;
}
.indexRo_tom p b {
    color: #123;
}
.graph{
	width: 260px;
    position: absolute;
    bottom: -10px;
    right: -20px;
}
.statCntBox {
    position: absolute;
    bottom: 30px;
    right: 40px;
    background: rgba(255,255,255,.8);
    box-shadow: 0 4px 8px rgb(100 100 100 / 10%);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}
.statCntBox small {
    font-size: 14px;
    color: #666;
    display: block;
    font-weight: 400;
}
.statSmall{
	margin-top: 25px;
}
.statCntBox strong {
    font-family: Cafe24Ohsquare;
    font-size: 44px;
    display: block;
    color: #7fd321;
    margin: 15px 0;
}
.statCntBox span {
    color: #7266d3;
    font-weight: 600;
}
.statCntBox span strong {
    color: #7266d3;
}
.indexRo_right {
	float: right;
	width: 50%;
	position: relative;
	box-sizing: border-box;
}
.indexRo_right .indexRowzipBox{
	padding-left: 12.5px;
}
.indexRo_Han {
    background: #000;
    padding: 30px;
    box-shadow: 0 4px 8px rgb(0 0 0 / 10%), 0 6px 16px rgb(0 0 0 / 10%);
    border-radius: 6px;
    position: relative;
    overflow: hidden;
    height: 826px;
}
.indexRo_Han h6 {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}
.indexRo_Han h4 {
    color: #fff;
    font-size: 32px;
    font-family: Cafe24Ohsquare_air;
    line-height: 40px;
    word-break: keep-all;
}
.indexRo_Han h4 span{
	display: block;
}
.twoBox{
    max-width: 50%;
	margin: 40px 0 45px;
}
.twoBox p{
	color: #fff;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    word-break: keep-all;
}
.twoBox p span{
	display: block;
}
.indexRo_Han .mc4 {
    width: 250px;
    left: 50%;
    bottom: 15px;
    margin-top: 260px;
    margin-left: -125px;
    position: absolute;
}
.indexRo_Han .mc5 {
    height: 250px;
    right: -250px;
    bottom: -10px;
    position: absolute;
}
.selectBoxWrap{
	width: 100%;
	overflow: hidden;
	background: none !important;
	padding:100px 0;
}
.selectBoxWrap video{
	width: 100%;
	height: auto;
}
.selectBoxWrap h3 {
	color: #123;
    font-size: 32px;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: -0.5px;
    margin-bottom: 20px;
}
.selectBoxWrap p{
    font-size: 16px;
    margin-bottom: 50px;
}
.selectBoxWrap p span {
	display: block;
}
.indexTip {
	width: 100%;
	overflow: hidden;
}
.indexTip_left{
	float: left;
    width: 50%;
    box-sizing: border-box;
	height: 470px;
}
.indexTip_left .indexRowzipBox{
	padding-right: 12.5px;
}
.h100 {
    background: #fff;
    padding: 30px;
    box-shadow: 0 4px 8px rgb(0 0 0 / 10%), 0 6px 16px rgb(0 0 0 / 10%);
    border-radius: 6px;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    height: 470px;
}
.h100 h4 {
    color: #123;
    font-size: 32px;
    font-family: Cafe24Ohsquare_air;
    line-height: 40px;
    word-break: keep-all;
}
.h100 h4 span {
    display: block;
}
.h100 h4 small {
    display: block;
    margin: 10px 0 20px;
    font-size: 14px;
    color: #444;
    font-weight: 400;
}
.h100 ul{
	margin-bottom: 100px;
}
.h100 li {
    list-style: circle;
    margin: 2px 0 2px 20px;
    color: #666;
    margin-bottom: 10px;
}
.h100 .mc7{
    width: 200px;
    bottom: -80px;
    right: 20px;
    position: absolute;
}
.h100 .cta{
	width: 210px;
}
.h100 .cta:hover{
	opacity: 0.8;
}
.indexTip_right{
	float: right;
    width: 50%;
    box-sizing: border-box;
    height: 470px;
}
.indexTip_right .indexRowzipBox{
	padding-left: 12.5px;
}
.h200{
    background: #fff;
    padding: 30px;
    box-shadow: 0 4px 8px rgb(0 0 0 / 10%), 0 6px 16px rgb(0 0 0 / 10%);
    border-radius: 6px;
    width: 100%;
    box-sizing: border-box;
    height: 470px;
    position: relative;
}
.h200 h4 {
    color: #123;
    font-size: 32px;
    font-family: Cafe24Ohsquare_air;
    line-height: 40px;
    word-break: keep-all;
}
.h200 h4 span {
    display: block;
}
.h200 h4 small {
    display: block;
    margin: 10px 0 20px;
    font-size: 14px;
    color: #444;
    font-weight: 400;
}
.h200 ul{
	margin-bottom: 120px;
}
.h200 li {
    list-style: circle;
    margin: 2px 0 2px 20px;
    color: #666;
    margin-bottom: 10px;
}
.h200 .mc8 {
    width: 200px;
    bottom: -80px;
    right: 20px;
}
.h200 .cta{
	width: 210px;
	background-color: #164C88;
}
.h200 .cta:hover{
	opacity: 0.8;
}
.epiwNew {
    background: #fff;
    padding-top: 60px;
    padding-bottom: 40px;
    position: relative;
}
.epiwNew h4 {
    color: #123;
    font-size: 32px;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: -0.5px;
    margin-bottom: 20px;
}
.indexVideo{
	position: fixed;
	top: 0;
	left: 0;
	min-width: 100%;
	z-index: 1;
}
/* footer */
footer{
	width: 100%;
	position: relative;
	z-index: 10;
	background-color: #f7f7f8;
}
.footer_row{
	width: 100%;
	display: flex;
	padding: 35px 0;
	border-bottom: 1px solid #ddd;
}
.footerFl{
	flex: 1;
}
.footerFl h6{
	font-weight: bold;
	color: #000;
	font-size: 14px;
	margin-bottom: 15px;
}
.footerFl ul li{
	margin-bottom: 15px;
}
.footerFl ul li a:hover{
	color: #174c88;
}
.footer_logo img{
	width: 23px;
	padding-bottom: 10px;
}
.footer_logo span {
	font-size: 22px;
	font-weight: bold;
}
.footer_copyright{
	padding: 35px 0;
}
.footer_copyright h6{
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 10px;
}
.desc{
	line-height: 1.5;
}


/*  itemonline  */

.itemOnlin{
	width: 100%;
	margin-bottom: 50px;
}
.itemOnTop{
	width: 100%;
	background: #3367cd;
    color: #fff;
    padding-top: 120px;
}
.itemOnTopF{
	position: relative;
	width: 100%;
	height: 200px;
	overflow: hidden;
}
.itemOnTopLeft{
	float: left;
	width: 50%;
}
.itemOnTopLeftH{
	font-weight: 900;
	font-size: 30px;
}
.itemOnTopLeft div{
	margin-top: 25px;
}
.itemOnTopLeft div p{
	font-size: 16px;
	line-height: 1.6;
}
.itemOnTopRight{
	float: right;
	width: 50%;
	height: 100%;
	position: relative;
}
.itemOnTopRight img{
	position: absolute;
	bottom: 0;
	right: 0
}
.itemOnTopS{
	background: #204389;
    color: #fff;
    text-align: center;
    width: 100%;
   	padding: 30px 0;
}
.itemOnTopcon{
	position: relative;
	width: 30%;
	margin: 0 auto;
}
.itemOnTopdip{
	box-sizing: border-box;
	font-weight: bold;
	font-size: 20px;
}
.itemOnTopImg{
	position: absolute;
	bottom: 0;
	right: 0;
}
.itemOnTom{
	padding: 25px 0;
	width: 100%;
}
.itemOnTomTp{
	margin: 10px 0 30px;
    padding: 4px;
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    text-align: right;
}
.itemOnTomTpLe{
	text-align: center;
    width: 200px;
    color: #123;
    background-color: #fff;
    margin-right: 2px;
    box-sizing: border-box;
    display: inline-block;
    border: 4px solid #eee;
    padding: 7px 0;
    margin-right: -4px;
}
.itemOnTomTpRi{
	text-align: center;
    width: 200px;
    color: #123;
    background-color: #eee;
    display: inline-block;
    border: 4px solid #eee;
    padding: 7px 0;
}
.itemOnTomMi{
	width: 100%;
}
.itemOnTomMip{
	display: flex;
	flex-wrap: wrap;
	margin-right: -30px;
}
.itemOnTomMiSu{
	width: 100%;
	flex: 0 0 25%;
    max-width: 25%;
	box-sizing: border-box;
	padding: 0 30px 30px 0;
}
.itemOnTomMiSu .itemOnTomDi{
	width: 100%;
	border: 1px solid #ddd;
	height: 407px;
}
.itemOnTomDi a{
	display: block;
	height: 40%;
}
.itemMy{
	height: 168px;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.itemOnTomMiSu .itemImgs{
	width: 100%;
	height: 407px;
}
.itemMym{
	padding: 25px 15px;
	overflow: hidden;
	width: 100%;
}
.itemMymCongal{
	border-bottom: 1px solid #ddd;
	padding-bottom: 20px;
}
.itemCategory{
	display: inline-block;
    font-size: 12px;
    font-weight: 600;
    color: #123;
    border: 1px solid #123;
    background: #fff;
    padding: 4px 6px 3px;
    border-radius: 4px;
    margin-bottom: 15px;
}
.itemPeriod{
	font-size: 14px;
    font-weight: 700;
    color: #174c88;
    margin-bottom: 5px;
}
.itemMym strong{
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -0.3px;
    color: #123;
    margin: 7px 0 5px;
}
.itemConGal{
	margin-top: 20px;
}
.itemCo{
    float: left;
    position: relative;
}
.itemCo img{
	width: 48px;
    height: 48px;
    background: #eee;
    border-radius: 50%;
    border: 2px solid #123;
}
.itemCo p{
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    color: #888;
    margin-top: 5px;
}
.itemPrice{
	margin: 0 0 3px;
    float: right;
    text-align: right;
}
.itemPrice del{
    font-size: 12px;
    color: #999;
}
.itemPrice del i{
	font-style: normal;
}
.itemPrice b{
	font-size: 12px;
    color: #e32438;
    font-weight: 600;
    margin-left: 5px;
}
.itemPrice strong{
	display: block;
	font-size: 16px;
}
.itemPrice i{
	font-style: normal;
}
.itemMeta{
    color: #888;
    font-size: 11px;
    letter-spacing: -0.5px;
    display: block;
}
.itemMeta span{
	color: #7266d3;
}
.itemMeta span i{
	font-style: normal;
    font-size: 12px;
    font-weight: 600;
    margin-left: 4px;
}
.itemPrecaut{
	margin: 40px 0 0;
}
.itemPrecaut h4{
	font-size: 20px;
    font-family: Cafe24Ohsquare_air;
    margin: 0 0 20px;
}

.itemPrecaut ul li{
	color: #888;
    font-size: 14px;
    list-style: circle;
    margin-left: 20px;
    margin-bottom: 5px;
    
}



/*  itemoffline  */

.itemOfflin{
	width: 100%;
	margin-bottom: 50px;
}
.itemOffTop{
	width: 100%;
	background: #008d79;
    color: #fff;
    padding-top: 120px;
}
.itemOffTopF{
	position: relative;
	width: 100%;
	height: 200px;
	overflow: hidden;
}
.itemOffTopLeft{
	float: left;
	width: 50%;
}
.itemOffTopLeftH{
	font-weight: 900;
	font-size: 30px;
}
.itemOffTopLeft div{
	margin-top: 25px;
}
.itemOffTopLeft div p{
	font-size: 16px;
	line-height: 1.6;
}
.itemOffTopRight{
	float: right;
	width: 50%;
	height: 100%;
	position: relative;
}
.itemOffTopRight img{
	position: absolute;
	bottom: 0;
	right: 0
}
.itemOffTopS{
	background: #095e52;
    color: #fff;
    text-align: center;
    width: 100%;
   	padding: 30px 0;
}
.itemOffTopcon{
	position: relative;
	width: 30%;
	margin: 0 auto;
}
.itemoffTopdip{
	box-sizing: border-box;
	font-weight: bold;
	font-size: 20px;
}
.itemoffTopImg{
	position: absolute;
	bottom: 0;
	right: 0;
}
.itemOffTom{
	padding: 25px 0;
	width: 100%;
}
.itemOffTomTp{
	margin: 10px 0 30px;
    padding: 4px;
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    text-align: right;
}
.itemOffTomTpLe{
	text-align: center;
    width: 200px;
    color: #123;
    background-color: #eee;
    margin-right: 2px;
    box-sizing: border-box;
    display: inline-block;
    border: 4px solid #eee;
    padding: 7px 0;
    margin-right: -4px;
}
.itemOffTomTpRi{
	text-align: center;
    width: 200px;
    color: #123;
    background-color: #fff;
    display: inline-block;
    background-color: #fff;
    border: 4px solid #eee;
    padding: 7px 0;
}
.itemoffarea{
	border-top: 1px solid #ddd;
	border-bottom: 1px dashed #ddd;
	padding: 40px 0;
	margin-bottom: 50px;
}
.itemoffAreaTitle{
	margin-bottom: 20px;
}
.itemoffAreaSelect{
	display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}
.itemoffAreaSelect a{
	display: inline-block;
	width: 100%;
	padding: 15px 0;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #123;
    font-size: 14px;
    text-decoration: none;
    transition: all .5s;
}
.itemoffAreaSelect a:hover{
	background: #008d79;
    border-color: #008d79;
    color: #fff;
    font-weight: 600;
    box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
}
.itemSelectRow{
	flex: 0 0 20%;
	padding: 0 10px 15px;
}
.itemOffTomMi{
	width: 100%;
}
.itemOffTomMip{
	display: flex;
	flex-wrap: wrap;
	margin-right: -30px;
}
.itemOffTomMiSu{
	flex: 0 0 25%;
    max-width: 25%;
	box-sizing: border-box;
	padding: 0 30px 30px 0;
}
.itemOffTomMiSu .itemOffTomDi{
	border: 1px solid #ddd;
	height: 407px;
}
.itemOffTomDi a{
	display: block;
	height: 40%;
}
.itemoffMy{
	height: 168px;
	position: relative;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.itemLocal{
	position: absolute;
	bottom: 20px;
	left: 20px;
	padding: 7px 10px 3px;
	background: #008D79;
	border-radius: 3px;
	font-size: 12px;
	color: #fff;
}
.itemoffMym{
	padding: 25px 15px;
	overflow: hidden;
}
.itemoffMym .itemoffCategory{
	display: inline-block;
    font-size: 12px;
    font-weight: 600;
    color: #123;
    border: 1px solid #123;
    background: #fff;
    padding: 4px 6px 3px;
    border-radius: 4px;
    margin-bottom: 15px;
}
.itemoffMym .itemoffPeriod{
	font-size: 14px;
    font-weight: 600;
    color: #123;
    display: block;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}
.itemoffMym strong{
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -0.3px;
    color: #123;
    margin: 7px 0 5px;
}
.itemoffSelt{
	margin-top: 25px;
	overflow: hidden;
}
.itemoffCo{
    float: left;
    position: relative;
}

.itemoffCo img{
	width: 48px;
    height: 48px;
    background: #eee;
    border-radius: 50%;
    border: 2px solid #123;
}
.itemoffCo p{
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    color: #888;
    margin-top: 5px;
}
.itemoffPrice .itemoffMeta{
	display: block;
}
.itemoffPrice{
	margin: 0 0 3px;
    float: right;
    text-align: right;
}
.itemoffPrice del{
    font-size: 12px;
    color: #999;
}
.itemoffPrice del i{
	font-style: normal;
}
.itemoffPrice b{
	font-size: 12px;
    color: #e32438;
    font-weight: 600;
    margin-left: 5px;
}
.itemoffPrice strong{
	display: block;
	font-size: 16px;
}
.itemoffPrice i{
	font-style: normal;
}
.itemoffMeta{
    color: #888;
    font-size: 11px;
    letter-spacing: -0.5px;
}
.itemoffMeta span{
	color: #7266d3;
}
.itemoffMeta span i{
	font-style: normal;
    font-size: 12px;
    font-weight: 600;
    margin-left: 4px;
}
.itemPrecaut{
	margin: 40px 0 0;
}
.itemPrecaut h4{
	font-size: 20px;
    margin: 0 0 20px;
}

.itemPrecaut ul li{
	color: #888;
    font-size: 14px;
    list-style: circle;
    margin-left: 20px;
    margin-bottom: 5px;  
}
