@charset "UTF-8";
*{box-sizing:border-box;}
#loginMain{
	width:1200px;
	margin:0 auto;
}
.loginDetail{
	width:100%;
    height:700px;	
	overflow:hidden;
	box-shadow:0 4px 8px rgb(0 0 0 / 10%), 0 6px 16px rgb(0 0 0 / 10%);
	border-radius:10px;
    margin:150px 0;
}
.loginDetailleft{
	width:50%;
	height:700px;	
	float:left;
	background-color: #fff;
	padding:40px 30px;
}
.loginLogo{
	margin-bottom:120px;	
}
.loginLogo img{
	width:40px;
}
.loginMent h2{
	font-weight:bold;
	font-size:27px;
    margin-bottom:25px;	
    padding:0 90px;
}
.loginInput input{
	margin-bottom:10px;
    margin-right:5px;		
}
.loginId{
    padding:0 90px;
    margin-bottom:10px;
}
.loginPwd{
    padding:0 90px;
	margin-bottom:10px;
}
.loginCheck{
    padding:0 90px;
}
.loginButton{
	padding:15px 195px 30px;
}
#loginValue{
	width:370px;
	height:40px;
    border-radius:4px;
    padding:15px;
    border:1px solid #ccc;    
}
.loginCheck{
	opacity:0.9;
}
#loginCheckbox{
	margin-left:5px;	
}
#loginBtn{
	width:150px;
	height:40px;
	padding:5px;	
    margin:20px 0;    
	border-radius:50px;
    background: #112233;
    color: #fff;
    font-weight: bold;
}
.loginButton #loginBtn:hover{
	background:#1122E9;
	color:#fff;
	opacity:0.8;
}
.loginAtag{
    padding:0 90px;
}
.loginAtag a{
	color:#4285F4;
	display:block;
	margin-bottom:10px;
}
.loginAtag a:hover{
	color:#164C88;
}
.loginDetailright{
	width:50%;
	height:700px;
	float:right;
    background-image:url(/image/taeyoungimage/running.jpg);
    background-repeat:no-repeat;
    background-size:cover;
}